// Font-family Lobster and Open sans
@font-face {
    font-family: 'Lobster-Regular';
    src: url('/assets/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }