.btn-primary {
    color: $btn-bg-color;
    background-color: $primary;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    &:hover {
        color: $btn-text-color;
      background-color: $btn-bg-color;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }}
    .btn-secondary {
      color: $btn-text-color;
      background-color: $btn-bg-color;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      border: 1px solid $primary;
      &:hover {
        border: none;
        color: $btn-bg-color;
        background-color: $primary;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }}