.card {
    border: none;
    .card-img-top img{
      border-radius: 20px;
          height: 238px;
          width: 50%;
        margin: 0 auto; 
        width: 45%;
      @media (min-width: 768px) {
        width: 80%;
      height: 238px;
      object-fit: cover; 
      margin: 0 auto; 
      display: block;
      }
      &:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        transform: translateY(-5px);
    

        .card-image img {
          transform: scale(1.1);
        }
      }
    }
    .card-body p.card-text{
      font-family: 'Lobster-Regular', sans-serif;
      color: $secondary;
    }
  }

  .product-section{
    padding-block: 35px;
    @media (min-width: 768px) {
      height: 700px;
      padding-block: 70px;
    }
    h1{
      padding-bottom: 35px;
      @media (min-width: 768px) {
        padding-bottom: 77px;
      }
    }
    
  }